<section class="s-segmentos">
  <section class="container flex">
    <div class="s-left">
      <h1>Segmentos de Atuação</h1>
      <h2>
        Em um cenário de constante avanço tecnológico, as empresas enfrentam
        desafios e metas únicas.
      </h2>
      <p>
        O diferencial do no foco, é a intenção que damos ao entendimento das
        operações dos nossos clientes e os pontos críticos do fluxo de trabalho.
        Assim, identificamos oportunidades e propomos alternativas para adoção
        de melhorias.
      </p>
      
      <p>
        Entre em contato agora para iniciar a transformação digital do seu
        negócio e moldar seu futuro de sucesso.
      </p>
    </div>
    <div class="s-right">
      <img src="/static/img/segmentos.svg" alt="" />
    </div>
  </section>
</section>
