<section class="s-destaque">
  <section class="container flex">
    <div class="s-left">
      <img src="/static/img/stiveJobs.png" alt="" />
    </div>
    <div class="s-right">
      <h1>Soluções Digitais Adaptadas às Suas Necessidades</h1>
      <h2>
        Em um cenário de constante avanço tecnológico, as empresas enfrentam
        desafios e metas únicas.
      </h2>
      <p>
        Imagine uma tecnologia que se adapta perfeitamente ao seu negócio, uma
        solução que é moldada para atender às suas necessidades exclusivas. Com
        as nossas Soluções Digitais Personalizadas, isso se torna realidade.
      </p>
      <p>
        Independentemente do setor, varejo, educação e indústria, nossas
        soluções são adaptadas para impulsionar a inovação e o crescimento do
        negócio. Se você procura melhorar sua posição no mundo digital, otimizar
        processos, ou proporcionar experiências excepcionais aos clientes,
      </p>
      <p>
        Entre em contato agora para iniciar a transformação digital do seu
        negócio e moldar seu futuro de sucesso.
      </p>
    </div>
  </section>
</section>
